/*--------------------------------//
//                                //
//          Pokemon Grid          //
//                                //
//--------------------------------*/
.pokemon-grid {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(3, 1fr);
	margin: 4rem auto;
	width: 100%;
}

@media only screen and (min-width: 769px) {
	.pokemon-grid {
		width: 75%;
	}
}

.pokemon-card {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.pokemon-card__image-container {
	aspect-ratio: 1 / 1;
}

.pokemon-card img {
	display: block;
	height: 100%;
	width: 100%;
}

.pokemon-types {
	display: flex;
	gap: 0.25rem;
}

.pokemon-type {
	background-color: var(--color-icon);
	border-radius: 0.25rem;
	color: #fff;
	line-height: 1.5rem;
	padding: 0 0.25rem;
	text-transform: capitalize;
}