/*--------------------------------//
//                                //
//             Color              //
//                                //
//--------------------------------*/
:root {
	--hue: 252;

	--color-primary-1: oklch(90% 0.049 var(--hue));
	--color-primary-2: oklch(80% 0.103 var(--hue));
	--color-primary-3: oklch(70% 0.161 var(--hue));
	--color-primary-4: oklch(60% 0.179 var(--hue));
	--color-primary-5: oklch(50% 0.149 var(--hue));
	--color-primary-6: oklch(40% 0.119 var(--hue));
	--color-primary-7: oklch(30% 0.089 var(--hue));
	--color-primary-8: oklch(20% 0.059 var(--hue));
	--color-primary-9: oklch(10% 0.029 var(--hue));

	--color-bug: #92BC2C;
	--color-dark: #595761;
	--color-dragon: #0C69C8;
	--color-electric: #F2D94E;
	--color-fire: #FBA54C;
	--color-fairy: #EE90E6;
	--color-fighting: #D3425F;
	--color-flying: #A1BBEC;
	--color-ghost: #5F6DBC;
	--color-grass: #5FBD58;
	--color-ground: #DA7C4D;
	--color-ice: #75D0C1;
	--color-normal: #A0A29F;
	--color-poison: #B763CF;
	--color-psychic: #FA8581;
	--color-rock: #C9BB8A;
	--color-steel: #5695A3;
	--color-water: #539DDF;

	/*
		Primary Color
	*/
	--color-primary: var(--color-primary-5);
	--color-primary-text: var(--color-primary-1);
	
	/*
		Background
	*/
	--color-background: var(--color-primary-2);
	--color-background-text: var(--color-primary-9);
}

@media (color-gamut: p3) {
	:root {
		--color-primary-1: oklch(90% 0.054 var(--hue));
		--color-primary-2: oklch(80% 0.113 var(--hue));
		--color-primary-3: oklch(70% 0.174 var(--hue));
		--color-primary-4: oklch(60% 0.231 var(--hue));
		--color-primary-5: oklch(50% 0.192 var(--hue));
		--color-primary-6: oklch(40% 0.154 var(--hue));
		--color-primary-7: oklch(30% 0.115 var(--hue));
		--color-primary-8: oklch(20% 0.077 var(--hue));
		--color-primary-9: oklch(10% 0.038 var(--hue));
	}
}

@media (color-gamut: rec2020) {
	:root {
		--color-primary-1: oklch(90% 0.055 var(--hue));
		--color-primary-2: oklch(80% 0.114 var(--hue));
		--color-primary-3: oklch(70% 0.177 var(--hue));
		--color-primary-4: oklch(60% 0.243 var(--hue));
		--color-primary-5: oklch(50% 0.312 var(--hue));
		--color-primary-6: oklch(40% 0.33 var(--hue));
		--color-primary-7: oklch(30% 0.248 var(--hue));
		--color-primary-8: oklch(20% 0.165 var(--hue));
		--color-primary-9: oklch(10% 0.082 var(--hue));
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		
		/*
			Background
		*/
		--color-background: var(--color-primary-8);
		--color-background-text: var(--color-primary-1);
	}
}
