/*--------------------------------//
//                                //
//             Color              //
//                                //
//--------------------------------*/
:root {
	--hue: 252;

	--color-primary-1: oklch(90% 0.049 var(--hue));
	--color-primary-2: oklch(80% 0.103 var(--hue));
	--color-primary-3: oklch(70% 0.161 var(--hue));
	--color-primary-4: oklch(60% 0.179 var(--hue));
	--color-primary-5: oklch(50% 0.149 var(--hue));
	--color-primary-6: oklch(40% 0.119 var(--hue));
	--color-primary-7: oklch(30% 0.089 var(--hue));
	--color-primary-8: oklch(20% 0.059 var(--hue));
	--color-primary-9: oklch(10% 0.029 var(--hue));

	/*
		Primary Color
	*/
	--color-primary: var(--color-primary-5);
	--color-primary-text: var(--color-primary-1);
	
	/*
		Background
	*/
	--color-background: var(--color-primary-2);
	--color-background-text: var(--color-primary-9);
}

@media (color-gamut: p3) {
	:root {
		--color-primary-1: oklch(90% 0.054 var(--hue));
		--color-primary-2: oklch(80% 0.113 var(--hue));
		--color-primary-3: oklch(70% 0.174 var(--hue));
		--color-primary-4: oklch(60% 0.231 var(--hue));
		--color-primary-5: oklch(50% 0.192 var(--hue));
		--color-primary-6: oklch(40% 0.154 var(--hue));
		--color-primary-7: oklch(30% 0.115 var(--hue));
		--color-primary-8: oklch(20% 0.077 var(--hue));
		--color-primary-9: oklch(10% 0.038 var(--hue));
	}
}

@media (color-gamut: rec2020) {
	:root {
		--color-primary-1: oklch(90% 0.055 var(--hue));
		--color-primary-2: oklch(80% 0.114 var(--hue));
		--color-primary-3: oklch(70% 0.177 var(--hue));
		--color-primary-4: oklch(60% 0.243 var(--hue));
		--color-primary-5: oklch(50% 0.312 var(--hue));
		--color-primary-6: oklch(40% 0.33 var(--hue));
		--color-primary-7: oklch(30% 0.248 var(--hue));
		--color-primary-8: oklch(20% 0.165 var(--hue));
		--color-primary-9: oklch(10% 0.082 var(--hue));
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		
		/*
			Background
		*/
		--color-background: var(--color-primary-8);
		--color-background-text: var(--color-primary-1);
	}
}
